.inline-components {
    align-items: center;
    display: inline-flex;
    background-color:red;
    
}

.inline-components > * {
    margin: 10px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th,
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
  }
  

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    
  }
  
tr {
    background-color: #f9f9f9;
  }
  

tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
  

td {
    text-align: left;
  }


td {
    padding: 10px;
  }
  